.about {
    padding: 60px 40px;
    background-color: #fff;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;


    color: #555;
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.6;
}